
body {
    margin: 0;
    padding: 0;
  }

/* canvas {
    outline: none;
    display: block;
    position: absolute;
    background-color: blue;

  } */

  .canv-con {
    /* width: 200px; */
  }

.container {
  display: flex;
  flex-direction: column;
}

.monitor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 12px;
    margin-left: 12px;
    padding: 6px 24px 6px 24px;

    border-radius: 1em;
    position: absolute;

    background: #ccc;
    max-height: 400px;
    overflow: auto;

}

.monitor-row {
    background-color: #ccc;

}

.monitor-row:nth-child(even) {
    background-color: #fff;
  }
  